 <div class="row Myrow">
 <!--Logo-->
<div class="col-xs-2">LOGO</div>
<!-- Headding-->
<div class="col-xs-8">

<h2 class="text-center Mycolor">FENCING ASSOCIATION OF ANDHARA PREDESH(FAAP)</h2>
<h3 class="text-center _iscolor">Affiliated To:</h3>
<p class="text-center _iscolor">FENCING ASSOCIATION OF INDIA(FAI)</p>
<p class="text-center _iscolor">Recognised by Andhara predesh Olympic Association ,Sports authority of AP(SAAP).</p>

</div>
<!--Logo-->
<div class="col-xs-2">LOGO</div>

 </div>


 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li routerLink="home"> <a role="button"> Home </a></li>
          <li routerLink="history"> <a role="button"> History of FAAP </a></li>
          <li routerLink="affiliatedunits"><a role="button" >Affiliated Units</a></li>
          <li routerLink="galary"><a role="button" >Gallary</a></li>
          <li routerLink="history"><a role="button" >Past Events</a></li> 
          <li routerLink="history"><a role="button" >Achievements Of students</a></li>
          <li routerLink="contactus"><a role="button" >Contact Us</a></li>
          <li routerLink="" ><a  href="assets/file.pdf" target="_blank" role="button" >Pdf link1</a></li>
          <li routerLink="" ><a  href="assets/file.pdf" target="_blank" role="button" >Pdf link2</a></li>


        <!--  <li class="dropdown" routerLink="secretry">
          <a role="button">Secretry </a>
          <ul class="dropdown-menu">
            <li><a ><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Overview</a></li>
            <li><a ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Task</a></li>
            <li role="separator" class="divider"></li>
            <li><a >Categories</a></li>
          </ul>
        </li> -->
        <!-- <li class="dropdown" routerLink="treasurer">
          <a role="button">Treasurer</a>
        </li> -->
          

























      <!-- <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">New Notiz</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Notebooks</a></li>
          </ul>
      </li> -->
     
      <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learnings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">New Learning</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Categories</a></li>
          </ul>
      </li> -->
      <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">New Entry</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Topics</a></li>
          </ul>
      </li> -->
     
      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Links<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.google.ch" target="_blank">My Webmail</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.google.ch" target="_blank">Timelogger</a></li>
            <li><a href="http://www.cubetech.ch" target="_blank">cubetech.ch</a></li>
         </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Jack Bass<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.fgruber.ch/" target="_blank"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> User Settings</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
         </ul>
        </li>
      </ul> -->
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

