
<h4 class="text-danger text-center election"><u>Election</u></h4>


<div class="container mypdf">
  <p>
    <a  href="assets/Notification&schedule.pdf" target="_blank" role="button" >Notification&schedule</a>
 </p>
 <p>
        <a  href="assets/FAAP Election 2018 Notification with schedule.pdf" target="_blank" role="button" >FAAP Election 2018 Notification with schedule</a>
    
   </p>
 
  <p>
      <a  href="assets/electoral collage LIST of FAAP elections 2018.pdf" target="_blank" role="button" >electoral collage LIST of FAAP elections 2018</a>
  </p>
  <p>
        <a  href="assets/FORM-2-for-Nomination.pdf" target="_blank" role="button" >FORM-2-for-Nomination</a>
    
    </p>
   <p>
        <a  href="assets/FORM-3-for-Withdrawal.pdf" target="_blank" role="button" >FORM-3-for-Withdrawal</a>
    
   </p>
</div>

