<div class="row Myrow">
<div class="col-xs-12 col-sm-2"> 
          <div class="left-navigation sidebar1">
                    <ul class="list">
                       
                        <li class="active"><div id="an" (click)="onClick($event,1)">Anantapur</div></li>
                        <li class="active"><div id="ch" (click)="onClick($event)">Chittoor</div></li>
                        <li class="active"><div id="ysr" (click)="onClick($event)">YSR Kadapa</div></li>
                        <li class="active"><div id="kur" (click)="onClick($event)">Kurnool</div></li>
                        <li class="active"><div id="east" (click)="onClick($event)">East Godavari</div></li>
                        <li class="active"><div id="gun" (click)="onClick($event)">Guntur</div> </li>
                        <li class="active"><div id="kris"(click)="onClick($event)">Krishna</div></li>                   
                        <li class="active"><div id="nel" (click)="onClick($event)">Nellore</div></li>
                        <li class="active"><div id="pra" (click)="onClick($event)">Prakasam</div></li>
                        <li class="active"><div id="sri" (click)="onClick($event)">Srikakulam</div></li>
                        <li class="active"><div id="vsk" (click)="onClick($event)">Visakhapatnam</div></li>
                        <li class="active"><div id="vzg" (click)="onClick($event)">Vizianagaram</div></li>
                        <li class="active"><div id="west"(click)="onClick($event)">West Godavari</div></li>

                    </ul>
             
        </div>

</div>

<div class="col-xs-12 col-sm-10">
   
    <div *ngIf="value == 'an' "> 
           Anantapur is a city in Anantapur district of the Indian state of Andhra Pradesh.
             It is the mandal headquarters of Anantapur mandal and also the divisional headquarters of Anantapur revenue division.
             The city is located on National Highway 44.
              It was also the headquarters of the Datta Mandalam (Rayalaseema districts of Andhra Pradesh and Bellary district of Karnataka) in 1799. 
              It was also a position of strategic importance for the British Indian Army during the Second World War.
    
</div>
    <div *ngIf="value == 'ch'">
           Chittoor district is a district in Rayalaseema region of the Indian state of Andhra Pradesh. 
            The district headquarters is located at Chittoor. 
            It has a population of 4,170,468 according to 2011 census of India.
            Chittoor district has many major temples including Tirupati and Kanipakam and temples.
             It lies in the Poini river valley of southernmost Andhra Pradesh along the Chennai – Bangalore section Chennai-Mumbai highway. 
             It is a major market centre for mangoes, grains, sugarcane, and peanuts.
        </div>
    <div *ngIf="value == 'ysr'" > 
            Kadapa (formerly known as Cuddapah) is a city in the Rayalseema region of the south-central part 
            of the Andhra Pradesh, India. It is the district headquarters of Kadapa district.
             As of 2011 Census of India, the city had a population of 344,078.
             It is located 8 kilometres (5.0 mi) south of the Penna River. 
             The city is surrounded on three sides by the Nallamala and Palkonda Hills lying on the tectonic landscape between the Eastern and Western ghats.
              Black and Red ferrous soils occupy the region. The city is nicknamed "Gadapa" ('threshold') since it is the gateway from the west to the sacred hills of Tirumala.</div>
    <div *ngIf="value == 'kur'"  >
            Kurnool is a city, former princely state and the headquarters of Kurnool district in the Indian state of Andhra Pradesh.
             The city is often referred as The Gateway of Rayalaseema. It was the capital of Andhra State from 1 October 1953 to 31 October 1956. 
            As of 2011 census, it is the fifth most populous city in the state with a population of 460,184.</div>
    <div *ngIf="value == 'east'"  > 
            The District is a residuary portion of the old Godavari District after West Godavari District was separated in 1925. 
            As the name of the district conveys, East Godavari District is closely associated with the river Godavari,
             occupying a major portion of the delta area.</div>
    <div *ngIf="value == 'gun'"  > 
            Guntur is a city within the Andhra Pradesh Capital Region Located 24 km (15 mi) away from the state capital Amaravati,
             Guntur city is the administrative headquarters of Guntur district, of the Indian state of Andhra Pradesh.
              It is a municipal corporation and also the headquarters of Guntur mandal in Guntur revenue division.
             It is situated on the plains at a distance of 40 miles (64 km) to north of the Bay of Bengal. 
            The city is the third most populous settlement in the state with a population of 743,654 as per 2011 census of India
        </div>
    <div *ngIf="value == 'kris'"  > 
            Krishna is a major deity of Hinduism. 
            He is worshiped as the eighth avatar of the god Vishnu and also as the supreme God in his own right.
             He is the god of compassion, tenderness, and love in Hinduism and is one of the most popular and widely revered among Indian divinities.
             Krishna's birthday is celebrated every year by Hindus on Janmashtami according to the lunisolar Hindu calendar, 
            which falls in late August or early September of the Gregorian calendar.
        </div>
    <div *ngIf="value == 'nel'" > 
            Nellore is a city and district headquarters of Nellore district in the Indian state of Andhra Pradesh. 
            It is located on the banks of Penna River and is the fourth most populous city in the state.
        </div>
    <div *ngIf="value == 'pra'"  > 
        Prakasam district is an administrative district in the Coastal Andhra region of the Indian state of Andhra Pradesh.
        The headquarters of the district are located at Ongole. It is located on the west coast of Bay of Bengal and is bounded by Guntur district on the north,
        Kurnool district on the west, Kadapa and Nellore districts on the south. 
       A part of north west region also borders the Mahabubnagar district of Telangana.
      It is the 3rd largest district in the state with an area of 17,626 km2 (6,805 sq mi) and had a population of 3,392,764 as per 2011 census of India.
    </div>
    <div *ngIf="value == 'sri'"  >
            Srikakulam is a city and the district headquarters of Srikakulam district in the Indian state of Andhra Pradesh. 
            It is a municipal corporation and also the mandal headquarters of Srikakulam mandal in Srikakulam revenue division.
            As of 2011 census, it was most populous city of Srikaulam district and 24th populous city of the state with a population of 146,988. 
            The city is believed to have been founded by Balarama.
        </div>
    <div *ngIf="value == 'vsk'"  > 
            Visakhapatnam  is the largest city and "Financial Capital" of the Indian state of Andhra Pradesh.
             The city is the administrative headquarters of Visakhapatnam district and Eastern Naval Command.
              Its geographical location is amidst Eastern Ghats mountain range and the coast of Bay of Bengal.
               It is the most populous city in the state with a population of 2,035,922 making it 14th largest city in the country.
                It is also the 9th most populous metropolitan area in India with a population of 53,40,000.
             The economy of the city is the tenth largest in the country, with a GDP of $43.5 billion.
            </div>
    <div *ngIf="value == 'vzg'"  >
            Vizianagaram is a city and district headquarters of Vizianagaram district in the Indian state of Andhra Pradesh.
             It is a municipality and also the mandal headquarters of Vizianagaram mandal.
             It is located 18 km inland from the Bay of Bengal and 42 km to the northeast of Visakhapatnam.
            </div>
    <div *ngIf="value == 'west'"  > 
            West Godavari district or Paschima Godavari Jilla is one of the 13 districts in the Indian state of Andhra Pradesh. 
            The district is situated in Coastal Andhra region of the state. 
            The administrative headquarters of the district is situated at Eluru.
             As of 2011 census of India, the district has an area of 7,742 km2 (2,989 sq mi) and a population of 39,36,966.
             It is bounded by Krishna district on the west, East Godavari district on the east, Bay of Bengal on the south and the state of Telangana on the north.
        </div>
</div>
    
</div>