<div class="row Myrow">
<div class="col-xs-12 col-sm-2"> 
          <div class="left-navigation sidebar1">
                    <ul class="list">
                       
                        <li>Anantapur</li>
                        <li>Chittoor</li>
                        <li>YSR Kadapa</li>
                        <li>Kurnool</li>
                        <li>East Godavari</li>
                        <li>Guntur	</li>
                        <li>Krishna</li>                   
                        <li>Nellore</li>
                        <li>Prakasam</li>
                        <li>Srikakulam</li>
                        <li>Visakhapatnam</li>
                        <li>Vizianagaram</li>
                        <li>West Godavari</li>

                    </ul>
             
        </div>

</div>

<div class="col-xs-12 col-sm-10"> bfghfgbg</div>
	
</div>