<div class="row Myrow">
<div class="col-xs-12 col-sm-2"> 
          <div class="left-navigation sidebar1">
                    <ul class="list">
                       
                        <li class="active"><div id="an" (click)="onClick($event,1)">Anantapur</div></li>
                        <li class="active"><div id="ch" (click)="onClick($event)">Chittoor</div></li>
                        <li class="active"><div id="ysr" (click)="onClick($event)">YSR Kadapa</div></li>
                        <li class="active"><div id="kur" (click)="onClick($event)">Kurnool</div></li>
                        <li class="active"><div id="east" (click)="onClick($event)">East Godavari</div></li>
                        <li class="active"><div id="gun" (click)="onClick($event)">Guntur</div> </li>
                        <li class="active"><div id="kris"(click)="onClick($event)">Krishna</div></li>                   
                        <li class="active"><div id="nel" (click)="onClick($event)">Nellore</div></li>
                        <li class="active"><div id="pra" (click)="onClick($event)">Prakasam</div></li>
                        <li class="active"><div id="sri" (click)="onClick($event)">Srikakulam</div></li>
                        <li class="active"><div id="vsk" (click)="onClick($event)">Visakhapatnam</div></li>
                        <li class="active"><div id="vzg" (click)="onClick($event)">Vizianagaram</div></li>
                        <li class="active"><div id="west"(click)="onClick($event)">West Godavari</div></li>

                    </ul>
             
        </div>

</div>

<div class="col-xs-12 col-sm-10">
   
    <div *ngIf="value == 'an' " class="boxModal"> 
           
      <p>
      <label>President:</label>&nbsp;&nbsp;<span>A.Srinivasulu</span>
              
      </p>  
      <p>
        <label>Secratery:</label>&nbsp;&nbsp;<span>A.Muralikrishna</span>
              
      </p>
        
    
</div>
    <div *ngIf="value == 'ch'" class="boxModal">
                <p>
                                <label>President:</label>&nbsp;&nbsp;<span>A.Purushottam</span>
                                        
                                </p>  
                                <p>
                                  <label>Secratery:</label>&nbsp;&nbsp;<span>A.Ramanjaneyulu</span>
                                        
                                </p>
        </div>
    <div *ngIf="value == 'ysr'" class="boxModal"> 
                <p>
                                <label>President:</label>&nbsp;&nbsp;<span>K.Janardnan</span>
                                        
                                </p>  
                                <p>
                                  <label>Secratery:</label>&nbsp;&nbsp;<span>B.Reddyanna</span>
                                        
                                </p></div>
  
         <div *ngIf="value == 'kur'" class="boxModal" >
                                                <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>Y.V.Krishnareddy</span>
                                                
                                        </p>  
                                        <p>
                                        <label>Secratery:</label>&nbsp;&nbsp;<span>P.Shyam Rao</span>
                                                                        
                                        </p>
                                </div>
  
            <div *ngIf="value == 'east'" class="boxModal" > 
                        <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>N.Rama Krishna Babu</span>
                                                
                                        </p>  
                                        <p>
                                          <label>Secratery:</label>&nbsp;&nbsp;<span>D.V.S.Latha</span>
                                                
                                        </p>
        </div>
   
             <div *ngIf="value == 'gun'" class="boxModal" > 
                        <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>K.Satya Narayana</span>
                                                
                                        </p>  
                                        <p>
                                          <label>Secratery:</label>&nbsp;&nbsp;<span>D.S.Christopher</span>
                                                
                                        </p>
        </div>
    
        <div *ngIf="value == 'kris'"  class="boxModal"> 
                        <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>K.Ranhunadh</span>
                                                
                                        </p>  
                                        <p>
                                          <label>Secratery:</label>&nbsp;&nbsp;<span>V.Venkatesewarlu</span>
                                                
                                        </p>
        </div>
   
        <div *ngIf="value == 'nel'" class="boxModal" > 
                        <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>P.Venugopal Reddy</span>
                                                
                                        </p>  
                                        <p>
                                          <label>Secratery:</label>&nbsp;&nbsp;<span>N.Victor</span>
                                                
                                        </p>
        </div>
   
        <div *ngIf="value == 'pra'" class="boxModal" > 
                        <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>B.Nageswara Rao</span>
                                                
                                        </p>  
                                        <p>
                                          <label>Secratery:</label>&nbsp;&nbsp;<span>V.Nageswara Rao</span>
                                                
                                        </p>
    </div>
   
    <div *ngIf="value == 'sri'" class="boxModal" >
                <p>
                                <label>President:</label>&nbsp;&nbsp;<span>V.Mohan</span>
                                        
                                </p>  
                                <p>
                                  <label>Secratery:</label>&nbsp;&nbsp;<span>B.S.S.Prasad Kumar</span>
                                        
                                </p>
        </div>
   
        <div *ngIf="value == 'vsk'" class="boxModal" > 
                        <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>P.Ram Trinanh Rao</span>
                                                
                                        </p>  
                                        <p>
                                          <label>Secratery:</label>&nbsp;&nbsp;<span>A.Kishore Kumar</span>
                                                
                                        </p>
            </div>
   
            <div *ngIf="value == 'vzg'"  class="boxModal">
                        <p>
                                        <label>President:</label>&nbsp;&nbsp;<span>B.Sridhar</span>
                                                
                                        </p>  
                                        <p>
                                          <label>Secratery:</label>&nbsp;&nbsp;<span>A.Venugopal</span>
                                                
                                        </p>
            </div>
   
            <div *ngIf="value == 'west'" class="boxModal" > 
                        <p>
                        <label>President:</label>&nbsp;&nbsp;<span>Y.Narasimha Rao</span>
                                                
                        </p>  
                        <p>
                        <label>Secratery:</label>&nbsp;&nbsp;<span>N.Satish Babu</span>
                                                
                        </p>
      
        </div>

</div>
    
</div>