<div class="row Myrow">
	<div class="col-xs-12 col-sm-4" >
		<img src="assets/images/president.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 

		<h3>President</h3>
		<p class="view">I did find an hack that work...I created a parent for page3 and page4...and then If I am on page3 and pressing the "Back" button it gets me to page2 and if I pressing "Next" button it gets me to page4... And when I am on page4 I listening to activityBackPressedEvent and when I catch it, it just goes back to page2 (router.back()) but when I press "Go To page2" button I am run route.backToPreviousPage() function, so it goes to the parent's previous page.</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<img src="assets/images/secretary.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 

		<h3>secretary</h3>
		<p class="view">I did find an hack that work...I created a parent for page3 and page4...and then If I am on page3 and pressing the "Back" button it gets me to page2 and if I pressing "Next" button it gets me to page4... And when I am on page4 I listening to activityBackPressedEvent and when I catch it, it just goes back to page2 (router.back()) but when I press "Go To page2" button I am run route.backToPreviousPage() function, so it goes to the parent's previous page.</p>

	</div>
	<div class="col-xs-12 col-sm-4">
		<img src="assets/images/treasurer.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 
		<h3>Treasurer</h3>
		<p class="view">I did find an hack that work...I created a parent for page3 and page4...and then If I am on page3 and pressing the "Back" button it gets me to page2 and if I pressing "Next" button it gets me to page4... And when I am on page4 I listening to activityBackPressedEvent and when I catch it, it just goes back to page2 (router.back()) but when I press "Go To page2" button I am run route.backToPreviousPage() function, so it goes to the parent's previous page.</p>
	</div>

</div>