<div class="row Myrow minHeight">
	<div class="col-xs-12 col-sm-4" >
		<img src="assets/images/president.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 

		<h3><u>President</u></h3>
		<h5>V.Nagaeswera Rao</h5>
		
		<p>D.no 42-1-123,Turpu kamma Palem,</p>
			<p>Ongole,Andhra Pradesh -523001 </p>
        <p> E-mail : fencingassociationofap@gmail.com</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<img src="assets/images/secretary.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 

		<h3><u>secretary</u></h3>
		<h5>A.Murali Krishna</h5>

		<p>D.no 42-1-123,Turpu kamma Palem,</p>
	    <p>Ongole,Andhra Pradesh -523001 </p>
        <p>E-mail : fencingassociationofap@gmail.com</p>

	</div>
	<div class="col-xs-12 col-sm-4">
		<img src="assets/images/treasurer.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="250"> 
		<h3><u>Treasurer</u></h3>
		<h5>M.Satesh Babu</h5>
		
		<p>D.no 42-1-123,Turpu kamma Palem,</p>
			<p>Ongole,Andhra Pradesh -523001 </p>
        <p>E-mail : fencingassociationofap@gmail.com</p>
	</div>

</div>